In [3]:
import psycopg2
import pandas as pd

In [4]:
conn = psycopg2.connect(
    database='endoscope_soft_part', 
    user='endoscope_admin',
    password='end0sc0pe_adm1n',
    host='db',
    port=5432)

In [5]:
df = pd.read_sql('SELECT * FROM koutei_master', conn)

/usr/local/lib/python3.8/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [6]:
df

   id     name
0   1  koutei1
1   2  koutei2
2   3  koutei3

In [8]:
conn.close()